.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  padding: 10px 20px;
  user-select: text;
}
.container p{
  line-height: 24px;

}
.content {
padding-top: 20px;
  max-width: 750px;

  @media screen and (max-width: 800px) {
    max-width: 100%;
    margin: 0 30px;
  }
}

.new-chat-button {
  width: fit-content;
}
.contentItem p {
  // white-space: pre-wrap;
}
.intro {
}

.contentItem {
  padding: 10px;
  border: var(--border-in-light);
  margin-bottom: 30px;
  cursor: pointer;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
  border-radius: 2px;

  &:hover,
  &:active,
  &.isOpen {
    background-color: var(--hover-color);
  }

  &.isOpen {
    padding: 10px;
    .arrowIcon {
      transform: rotate(180deg) scale(2);
    }
  }
}

.contentItem p {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.contentItem.isOpen p {
  opacity: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.accordionContainer {
  margin-top: 50px;
}

.logoContainer {
  margin: 50px 0;
  display: flex;
}
.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowIcon {
  transform: scale(2);
  margin-right: 10px;
  transition: transform 0.3s ease; 

}

.footer{
  margin-top: 100px;
  padding-top: 20px;
  border-top: var(--border-in-light);
padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
  align-items: flex-start;
  h4{
    margin-bottom: 0px;
  }
  p{
  margin-top: 10px;;
  }
.logoContainer{
  display: flex;
  justify-content: flex-end;
}
}

@media (max-width: 550px) {
  .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 10px; 
      .logoContainer{
        display: flex;
        justify-content: flex-start;
      }
  }
}

.conversation  {
  margin-left: 24px;

  div {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 13px;
    .role {
      
      font-weight: 600;
    }
    .content {
      margin-left: 24px;

      .actions {
        // color: var(--dark-text);
      }
    }
  }
}
.cookieButton{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}