.modal {
  h3 {
    margin-top: 0px;
  }
}

.description {
  margin-bottom: 28px;
}

.settingsbutton {
  margin-right: 16px;
  margin-bottom: 10px;
  display: inline-flex;
  border-radius: 20px;
  font-size: 12px;
  background-color: var(--white);
  color: var(--black);
  border: var(--border-in-light);
  padding: 14px 10px;
  animation: chat_slide-in__nvZgA ease 0.3s;
  box-shadow: var(--card-shadow);
  transition: width ease 0.3s;
  align-items: center;
  height: 16px;
  width: var(--icon-width);
  overflow: hidden;
}


.radioGroup {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.radioOption {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  color: var(--black);

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    // border: 2px solid var(--white);
    border: var(--border-in-light);
    background: transparent;
    display: inline-block;
    position: relative;
  }

  input[type="radio"]:checked {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}
